{% extends "index.html" %}


{% block boton_volver %}

  <button type="button" class="btn btn-link">
    <a class="btn btn-primary" href="{% url 'index_ppal' %}" role="button">Return to main page</a>
  </button>

{% endblock %}

{% block button_search %}

<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="." method="get">
    <input class="form-control mr-sm-2" name="search" 
    placeholder="Search" aria-label="Search" type="text">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>


{% endblock %}