<h4>Book Create: </h4>
</br>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label>Title</label>
    {{ form.title }}
</br>
    <label>Page</label>
    {{ form.page }}
</br>
    <label>Edition_Date</label>
    {{ form.edition_date }}
</br>
    <label>Editorial</label>
    {{ form.editorial }}
</br>
    <label>Author</label>
    {{ form.author }}
    
    <button type="submit" >Acept</button>
    <!-- Botón para volver a la vista principal (http://127.0.0.1:8000/books/books/) -->
    <a href="{% url 'book_list' %}" type="submit" >Volver</a>
    
</form>