{% extends "index_with_button.html" %}

{% block content %}
    <h4>Books List: </h4>
    
    <a class="btn btn-success" href="{% url 'book_create' %}" role="button">Add Book</a>
   
    </br>
    </br>
    {% if messages %}
    <h1 class="alert alert-secondary" role="alert">
      {% for message in messages %}
        {{ message }}
        {% endfor %}
    </h1>
  {% endif %}
    
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Page</th>
            <th scope="col">Edition_Date</th>
            <th scope="col">Editorial</th>
            <th scope="col">Author</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        {% for book in object_list %}
          <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td> {{book.page}}  </td>
            <td> {{book.edition_date}} </td>    
            <td> {{book.editorial}} </td>
            <td> {{book.author}} </td>  
            <td>
              <a class="btn btn-info" href="{% url 'book_detail' book.id %}" role="button">Detail</a>

              <td>
                <a class="btn btn-warning" href="{% url 'book_update' book.id %}" role="button">Update</a>
              </td>
              <td>
                <a class="btn btn-danger"href="{% url 'book_delete' book.id %}" role="button">Delete</a>
              </td>
            </td>
          </tr>
          
          {% endfor %}

      </Table>

    </form>

{% endblock %}

