{% extends "index_with_button.html" %}

{% block content %}

  <h4>Editorials List: </h4>
  </br>
  <a class="btn btn-success" href="{% url 'editorial_create' %}" role="button">Add Editorial</a>

  </br>
  </br>

  {% if messages %}
  <h1 class="alert alert-secondary" role="alert">
    {% for message in messages %}
      {{ message }}
      {% endfor %}
  </h1>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      {% for editorial in object_list %}
        <tr>
          <td> {{editorial.name}}  </td>
          <td>
            <a class="btn btn-info" href="{% url 'editorial_detail' editorial.id %}" role="button">Detail</a>
          <td>
          <td>
            <a class="btn btn-warning" href="{% url 'editorial_update' editorial.id %}" role="button">Update</a>
          </td>
          <td>
            <a class="btn btn-danger"  href="{% url 'editorial_delete' editorial.id %}" role="button">Delete</a>
          </td>      
          <td></td>  
      </tr>
      {% endfor %}
      
    </Table>
  </form>

{% endblock %}