
<h4>Editorials List: </h4>
</br>
<button>
    <a href="{% url 'editorial_create' %}">Add Editorial</a>
</button>
<ul>
    {% for editorial in object_list %}
    <li>
       {{editorial.name}} 
       <a href="{% url 'editorial_detail' editorial.id %}">Detail</a>
       <a href="{% url 'editorial_update' editorial.id %}">Update</a>
       <a href="{% url 'editorial_delete' editorial.id %}">Delete</a>
    </li>
    {% endfor %}
</ul>


{% if messages %}
  <h1 class="messages list-group mb-3">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
  </h1>
{% endif %}